@page "/todo"

<div>
    <MudText Typo="Typo.h3" GutterBottom="true">Todo (@todos.Count(todo => !todo.EstaFeito))</MudText>
    <MudPaper Width="600px">
    <MudListSubheader>
        Coisas para fazer
    </MudListSubheader>
     <MudList Clickable="true">
        @foreach (var item in todos){
            <MudListItem style="display:inline-block;padding:2px">      
                <MudCheckBox @bind-Checked="@item.EstaFeito" style="float:left"></MudCheckBox>          
                @if(item.EstaFeito){
                    <MudTextField @bind-Value="item.Titulo" Variant="Variant.Text"  style="height:20px;float:right;text-decoration:line-through;"></MudTextField>
                    
                    
                } else{
                    <MudTextField @bind-Value="item.Titulo" Variant="Variant.Text" style="height:20px;"></MudTextField>
                   
                }
            </MudListItem>
        }
    </MudList>
    </MudPaper>
</div>


<div class="mt-8" style="width:300px">
    <MudTextField @bind-Value="novoItem" Label="Adicionar item" Variant="Variant.Outlined"></MudTextField>
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="AddTodo" style="width:300px;padding-top:5px">Adicionar</MudButton>
</div>
@code{ 
        private List<TodoItem> todos = new();

        private string? novoItem;
        private void AddTodo()
        {
            if (!string.IsNullOrWhiteSpace(novoItem)){
            var todo = new TodoItem();
            todo.Titulo = novoItem;
            todos.Add(todo);
            novoItem = string.Empty;
            }            
        }
        
}